@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;

  /*border: 1px solid red;*/
}

body {
  font-family: "Helvetica", sans-serif;
  /*background-image: url("./assets/pexels-johannes-plenio-1103970.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #004643;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/*transition*/

a,
.btn {
  transition: all 300ms ease;
}

/*desktop-nav*/

nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  opacity: 0.7;
  z-index: 1;
  justify-content: space-between;

  /*background-color: #c1d8c3;*/
}
.logo-pic {
  padding: 0;
  margin: 0;
  margin-left: 5%;
  width: 20rem;
}
.nav-links {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: #262626;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: 0.5s;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
      }
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}
nav {
  align-items: center;
  height: 17vh;
  left: 0;
}

/*a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}*/

/* Hamburger Menu*/

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  background-color: #f2ffe9;
  opacity: 0.8;
  border-radius: 1rem;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5 rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
  transform: none;
}

/* sections */

section {
  padding-top: 4vh;
  height: 100vh;
  /*margin: 0 10rem;*/
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}
.title {
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 10px whitesmoke;
  font-variant: small-caps;
}

/* profile section */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 83vh;
}
/*#profile::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #78d6c6, #ff5733, #6e0dd0);
  background-size: 400% 400%;
  animation: gradientBackground 5s infinite;
  opacity: 0.5;
  z-index: -1;
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}*/
.section_pic-container {
  display: flex;
  height: 350px;
  margin: auto 0;
}
.section_pic-container img {
  --f: 0.1;
  --r: 10px;

  --_f: calc(100% * var(--f) / (1 + var(--f)));
  --_a: calc(90deg * var(--f));
  width: 250px;
  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t, rotateY(var(--_a)));
  transition: 0.5s;
  cursor: pointer;
}
img:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1 * var(--_f))) rotateY(calc(-1 * var(--_a)));
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text_p1 {
  text-align: center;
  color: #abd1c6;
}
.section_text_p2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #abd1c6;
}
.section_text_p3 {
  text-align: center;
  color: #0f3433;
}
.container {
  display: inline-block;
}
.title {
  font-size: 3rem;
  border-right: 3px solid;
  width: 100%;
  overflow: hidden;
  animation: typing 5s infinite, cursor 0.5s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/*icons*/
.icon {
  cursor: pointer;
  height: 2rem;
}

/*buttons*/
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  box-shadow: 11px 11px 10px rgba(0, 0, 0, 0.5);
}
.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover,
.btn-color-2:hover {
  background: rgb(0, 0, 0);
  color: white;
}
.btn-color-1,
.btn-color-2 {
  background: none;
}

.btn-container {
  gap: 1rem;
}
.btn-container-hidden {
  visibility: hidden;
}

/*About Section*/
#about {
  position: relative;
  background: #abd1c6;
}

.text-container {
  font-size: larger;
  padding: 0 11%;
}
.text-container p {
  padding: 2% 0 2% 0;
  color: #abd1c6;
  background-color: #004643;
}
.about-details-container {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.about-containers,
.about-details-container {
  display: flex;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #e8e4e6;

  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  box-shadow: 11px 11px 10px rgba(0, 0, 0, 0.5) inset;
}
.details-container_1 {
  padding: 12rem 1.5rem 13rem 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  box-shadow: 11px 11px 10px rgba(0, 0, 0, 0.5) inset;
}
.section-container {
  gap: 4rem;
  height: 75%;
  margin: 0 15vh;
}

.about-pic {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

/*Experience*/
#experience {
  position: relative;
  height: 145vh;
}
.experience-details-container {
  padding: 3vh;
  margin: 0 15vh;
}

.progress-bar {
  background: #004643;
  height: 12px;
  border-radius: 6px;
}

.progress {
  height: 100%;
  border-radius: 6px;
  background: #a1662f;
  transition: width 1s ease;
}

.progress-label {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
}

/*Projects Section*/

#projects {
  margin: 0;
  padding-left: 0;
  padding-bottom: 20vh;
  position: relative;
  height: fit-content;
  background-color: #abd1c6;
}
.project-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project {
  position: relative;

  transition: transform 0.2s;
  cursor: pointer;
}
.project:hover {
  animation: projectHover 0.5s ease-in-out;
}
.project-hover-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.1s;
  border-radius: 2rem;
}

.project:hover .project-hover-info {
  display: flex;
  opacity: 1;
}

.project-hover-info h2 {
  text-align: center;
  padding: 10px;
}
.hover-info {
  color: white;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(192, 192, 192, 0.4);
}
.project-img {
  border-radius: 1rem;
  width: 40%;
  height: 23rem;
}
.project-img_1 {
  border-radius: 1rem;
  width: 30%;
  height: 8rem;
}
.project-img_2 {
  height: 100%;
  width: 20rem;
}
.project-img_3 {
  height: 24rem;
  width: 25rem;
}
.project-title {
  margin: 1rem;
  color: black;
}
.project-btn {
  color: white;
  border-color: rgb(163, 163, 163);
}
@keyframes projectHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*Contact Section*/
#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.contact-info-upper-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border-color: rgb(163, 163, 163);
  background: #e8e4e6;
  margin: 5rem 25rem;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  font-size: 15px;
}

/*Footer Section*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 15vh;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
footer p {
  color: white;
}
